@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alliance No.2 Bold";
  src: url("./assets/fonts/Alliance-No.2-Bold.otf");
}

@font-face {
  font-family: "Alliance No.2 Regular";
  src: url("./assets/fonts/Alliance-No.2-Regular.otf");
}

@layer base {
  html {
    font-family: "Alliance No.2 Regular", system-ui, sans-serif;
  }
}

body {
  position: relative;
}

/* .bg-qoute {
  background-image: url("/autosecure_qoute.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-attachment: fixed;
} */

.bg-qoute {
  position: relative;
  overflow: hidden;
}

.bg-qoute::before {
  background-image: url("/autosecure_qoute.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

#about {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.6rem;
  font-weight: bold;
}

/* Link hover */
.smooth {
  transition: all 0.3s ease;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #0a84ff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  background-color: transparent;
  color: #0a84ff;
}
